@import "../../root.css";
@import "../../variableOverrides.css";

.addItem{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--black-opacity);
}
.addItemForm  {
    background-color: var(--white);
    width: 80%;
    min-width: 1130px;
    min-height: 697px;
    height: 80%;
    border-radius: 24px;
}


.sliderContainer{
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 430px;
    overflow-x: hidden;
    overflow-x: scroll;
    padding-bottom: calc(12px + 24px);
}
.hoverbg{
    background-color: var(--grey-composant);
    border: solid 1px var(--grey-storke-sanity);
    border-radius: 12px;
    top: 10;
    height: 428px;
    width: 448px;
    position: absolute;
    transition: 300ms;
    z-index: 1;
}
.slider{
    position: relative;
    display: flex;
    margin-left: 17px;
}

.sliderContainer::-webkit-scrollbar {
    margin: 0 40px;
    height: 12px;
}

.sliderContainer::-webkit-scrollbar-track {
    background: var(--grey-storke);
    border-radius: 6px;
  }
  
.sliderContainer::-webkit-scrollbar-thumb {
    background: var(--blue-hover);
    border-radius: 6px;
  }
  
button{
    height: 21px;
    background-color: var(--white);
    border: none;
}
.buttonContainer{
    display: flex;
    justify-content: center;
}
.valider{
    background-color: var(--green-sanity);
    color: var(--white);
    padding: 12px;
    margin:  24px auto 40px auto;
    text-align: center;
    width: 217px;
    height: 45px;
    border-radius: 3px;
    font-size: 16px;
}