@import "../../variableOverrides.css";
@import "../../root.css";
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 80px;
    width: calc(100% - 80px);
    border-bottom: 1.2px solid var(--grey-storke-sanity);
}
.back{
    content:"";
    width: 200px;
}
.close{
    display: flex;
    justify-content: flex-end;
    width: 200px;
}